@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/OpenSans-Italic.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/OpenSans-SemiBold.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/OpenSans-Light.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/OpenSans-Bold.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/OpenSans-Regular.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {

  /* ВРЕМЯ АНИМАЦИИ */
  --a-time: 400ms;

  /* ОСНОВНЫЕ ЦВЕТА */
  --black-t: #000000;       /* Черный - для текста, используется в форме*/
  --white-bg: #ffffff;      /* Белый - для фона */
  --white-t: #ffffff;       /* Белый - для текста */
  --gray-lite-bg: #f6f6f8;  /* Светло-серый - для фона секций */ 
  --gray-t: #333333;        /* Темно-серый - для основного текста */ 
  --gray-bg: #00020d;        /* Темно-серый - для основного текста */ 
  --blue-t: #2352de;        /* Синий - фирменный, очень часто встречается. Текст */
  --blue-bg: #2352de;       /* Синий - для декоративных элементов дизайна */
  --black-rgba:  0, 0, 0,;    /* Черный - для rgba, непрозрачность укажем по месту*/
  --blue-rgba-05: rgba(35, 82, 222, 0.5); /* Синий - тот же самый цвет но в rgba с непрозрачностью 50% */
  --white-rgba-05: rgba(255, 255, 255, 0.5); /* Белый - в rgba с непрозрачностью 50% */

  --header-p-top: 75px;     /* Поле вверху хедера */
  --header-p-bottom: 30px;  /* Поле внизу хедера */
  --section-p-t: 140px;     /* Поле вверху секции */
  --section-p-b: 140px;     /* Поле внизу секции */
  --logo-h: 53px;           /* Высота логотипа */
  --logo-w: 159px;          /* Ширина логотипа */

}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
} 

body,
h1, 
h2, 
h3, 
h4, 
h5, 
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  border: none;
  padding: 0;
  background-color: transparent;
}

address {
  font-style: normal;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  color: var(--white-t);
  background-color: var(--gray-bg);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} 

.top {
  display: flex;
}

.btn {
  display: flex;
  position: relative;
  top: 0;
  right: 0;
  padding: 10px 0;
  text-transform: uppercase;
  align-items: center;
  z-index: 50;
}

.btn-label {
  text-transform: uppercase;
  background-color: rgba(20, 20, 20, 0.5);
  border-radius: 3px;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5);
  padding: 2px 10px 2px 7px;
  transition: background-color, color;
  transition-duration: 600ms;
  font-weight: 700;
}

.btn:hover .btn-label {
  background-color: rgba(255, 255, 255, 1);
  color: #000;
}

.btn__inner { 
  position: relative;
  background-color: rgba(50,50,50,1);
  border-radius: 5px;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 1);
  padding: 5px;
  z-index: 0;
}

.btn__chek {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 50%;
  background-color: rgba(200,200,200,1);
  border-radius: 5px;
  box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 1);
  z-index: -1;
  transition: left;
  transition-duration: 600ms;
}

.btn__text {
  margin: 0 10px;
  transition: color, font-weight;
  transition-duration: 600ms;
}

.btn__text-on--on,
.btn__text-off--on {
  color: #000;
  font-weight: 700;
}

.btn__text-on--off,
.btn__text-off--off {
  color: #fff;
  font-weight: 400;
}

.header {
  margin-bottom: 10%;
}

.header__title {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0 30px 0;
}

.header__profession {
  font-size: 1.5rem;
  font-weight: 700;
}

.header__text {
  font-size: 1rem;
  font-style: italic;
}

.box-bg {
  position: relative;
  background-color: var(--gray-bg);
  min-height: 100vh;
  overflow: hidden;
}

.ground {
  position: absolute;
  width: 50vw;
  height: 50vw;
  top: 50%;
  left: 50%;
  background-color: #333;
  transform: translateX(-150%) skewX(-60deg);
}

.moon {
  --size: calc((100vh + 100vw) / 2 * 0.2);
  position: absolute;
  width: var(--size);
  height: var(--size);
  background-image: linear-gradient(rgba(145, 143, 122, 1), rgba(145, 143, 122, 1));
  border-radius: 50%;
  top: 15%;
  right: 15%;
  box-shadow: 0px 0px 100px 10px rgba(255, 255, 255, 0.2), -20px -20px 33px 5px rgba(240, 237, 205, 1) inset;
  z-index: 1;
  /* box-shadow: -32px -32px 33px 5px rgba(148, 145, 109, 0.2) inset; */
}

.moon-reflection-wrapper {
  display: flex;
  --size: calc((100vh + 100vw) / 2 * 0.2);
  position: absolute;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  top: auto;
  bottom: 15vh;
  right: 15%;
  z-index: 1;
}

.moon-reflection {
  --size: calc((100vh + 100vw) / 2 * 0.05);
  display: block;
  width: 50%;
  height: 50%;
  margin: auto;
  background-color: rgba(145, 143, 122, 1);
  border-radius: 50%;
  box-shadow: 0px 0px calc(var(--size) / 2) var(--size) rgba(145, 143, 122, 1)  ;
}

.water {
  position: absolute;
  width: 100%;
  height: 50vh;
  background: linear-gradient(0deg, #030e49, #000);
  left: 0;
  bottom: 0;
  z-index: 2;
  overflow: hidden;
}

.gray-line {
    position: absolute;
    display: block;
    width: 100%;
    height: 1vw;
    top: 0;
    background: #333;
    z-index: 4;
}

.line-inner {
    --size: calc((100vh + 100vw) / 2 * 0.2);
  width: var(--size);
  display: block;
  /*border:  1px solid #fff;*/
  height: 20vh;
  position: absolute;
  top: 0;
  right: 15%;
  z-index: 3;
  perspective: 100vw;
}

.line {
  --size: calc((100vh + 100vw) / 2 * 0.2);
  width: var(--size);
  display: block;
  /*border:  1px solid #fff;*/
  height: 500vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background: radial-gradient(50% 200%, #ffffff, transparent);
  transform: rotate3d(1, 0, 0, 60deg);
  transform-origin: 0 0;
  opacity: 0.2;
}

.stars {
  width: 1px;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top:50%;
  transform-origin: 0 0;
  transform: translateY(-50%);
  border-radius: 50%;
  animation: rotate 270s infinite linear;
}

.stars2 {
  width: 3px;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top:50%;
  transform-origin: 0 0;
  transform: translateY(-50%);
  border-radius: 50%;
  animation: rotate 1600s infinite linear;
}

@keyframes rotate{
  0% {
        transform: rotate(0deg);
  }
  100% {
        transform: rotate(360deg);
  }
}

.wrapper {
  display: block; /* block; */
  /* background-color: rgba(255, 255, 255, 0.5);*/
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  position: relative;
  max-width: 1200px;
  padding: 15px 15px 15px;
  margin: 0 auto;
} 

.container--top {
  display: flex;
  align-items: center ;
  justify-content: flex-end;
}

.card {
  padding: 6px;
  background: linear-gradient(0deg, rgba(50,50,50,0.4), rgba(50,50,50,0.4));
  border-radius: 15px;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5)/*, -2px -2px 5px 1px rgba(0,0,0, 0.9) inset*/;
  backdrop-filter: blur(3px);
}

.flex {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.portfolio {
  flex: 1 1 400px;
  width: 100%;
  text-align: center;
  margin: 0 10px 30px;
}

.title {
  margin-bottom: 20px;
}

.portfolio__card {
  display: flex;
  position: relative;
  text-align: left;
  padding: 5px;
  background: linear-gradient(0deg, rgba(50,50,50,0.4), rgba(255,255,255,0.4));
  border-radius: 15px;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5)/*, -2px -2px 5px 1px rgba(0,0,0, 0.9) inset*/;
  backdrop-filter: blur(3px);
  transition: 500ms;
}

.portfolio__card:hover {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.5)/*, -2px -2px 5px 1px rgba(0,0,0, 0.9) inset*/;
  backdrop-filter: blur(3px);
  transform: scale(1.05);
  color: black;
  z-index: 99;
}

.portfolio__card:not(:last-child) {
  margin-bottom: 20px;
}

.portfolio__image {
  min-width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.portfolio__info{
  padding: 10px;
}

.portfolio__title {
  margin-bottom: 10px;
}



.perspective {
  perspective: 100vw;
  perspective-origin: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  /* border: 1px solid #fff; */
  z-index: 5;
  left: 0;
  top: 0;
}


.home {
  --size: calc((100vh + 100vw) / 2 * 0.2);
  --w: var(--size);
  --h: calc(var(--size) * 2);
  width: var(--w);
  height: var(--h);

  position: absolute;
  top: 50%;
  left: 10%;
}

.home {
  /* border: 2px dotted white; */
  transform-style: preserve-3d;
  /* animation: rotate 10s infinite linear; */
  transform: rotateY(-10deg) translate(0, -50%);
  }


.side {
  position: absolute;
/*
  --size: calc((100vh + 100vw) / 2 * 0.2);
  width: var(--size);
  height: calc(var(--size) * 2);*/
  height: 100%;
  width: 100%;
  /* border: 2px solid white; */
  opacity: 1;
  }

  .side-top {
  position: absolute;
/*
    --size: calc((100vh + 100vw) / 2 * 0.2);
  width: var(--size);
  height: calc(var(--size) * 1);*/

  height: var(--w);
  width: var(--w);

  /* border: 2px solid white; */
  opacity: 1;
  }

.home__wall-right {
  transform: translateX(calc(var(--w) / 2)) rotateY(90deg);
  background: #222;
}

.home__roof {
  transform: translateY(calc((var(--w) / 2) * -1 )) rotateX(90deg);
  background: #333333;
}

.home__wall-front {
  transform: translateZ(calc(var(--w) / 2));
  background: #101010;
}

.home__bottom {
  transform: translateY(0) rotateX(90deg);
  background: #333;
}

.header__test { 
  margin: 40px 0;
  padding: 30px;
}

.header__link { 
  display: inline-flex;
  color: green;
  font-size: 20px;
  font-weight: 700;
}

.header__link:focus {
  color: red;
  outline: transparent;
}

.header__link:focus .header__link-text {
  border-radius: 6px;
  box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.5)
}

.header__link:hover {
  color: white;
}

.header__link:hover .header__svg {
  fill: white;
}

.header__svg {
  height: 32px;
  width: 32px;
  fill: green;
  margin-right: 15px;
}

.header__link-text {}

/*
@keyframes rotate {
  100% {
    transform: rotatex(360deg) rotateY(360deg) rotateZ(360deg);
  }
*/
}
