@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/OpenSans-Italic.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/OpenSans-SemiBold.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/OpenSans-Light.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/OpenSans-Bold.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/OpenSans-Regular.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
/*
  ПЕРЕМЕННЫЕ.
  Конечно можно сделать некоторые переменные локальными.
  В общем, только узнал, что в CSS есть переменные,
  а переменные - это большие возможности. Правда
  не знаю, как это влияет на производительность
  но не думаю что на столько чтобы от них отказаться.
  А самое главное это все работает!
*/

/*
  Глобальные переменные. 
  Значения некоторых глобальных переменных,
  перебьем значениями локальных переменных
  в брейкпоинтах. 
*/ 
:root {
  /* Брейкпоинты */
  --1200px: 1200px; /* Как оказалось переменные в медиазапросах не работают, а в критерии R-7 говорится, что значения брейкпоинтов должны быть вынесены в переменные и еще пример показан. Ну совсем странно.*/

  /* Размеры которые потом будем менять и вычислять для адаптива */
  --header-p-top: 75px;     /* Поле вверху хедера */
  --header-p-bottom: 30px;  /* Поле внизу хедера */
  --section-p-t: 140px;     /* Поле вверху секции */
  --logo-h: 53px;           /* Высота логотипа */
  --logo-w: 159px;          /* Ширина логотипа */

  /* Время анимации */
  --a-time: 400ms;

  /* Основные цвета */
  --black-t: #000000;       /* Черный - для текста, используется в форме*/
  --white-bg: #ffffff;      /* Белый - для фона */
  --white-t: #ffffff;       /* Белый - для текста */
  --grey-lite-bg: #f6f6f8;  /* Светло-серый - для фона секций */ 
  --grey-t: #333333;        /* Темно-серый - для основного текста */ 
  --blue-t: #2352de;        /* Синий - фирменный, очень часто встречается. Текст */
  --blue-bg: #2352de;       /* Синий - для декоративных элементов дизайна */
  --black-rgba:  0, 0, 0,;    /* Черный - для rgba, непрозрачность укажем по месту*/
  --blue-rgba-05: rgba(35, 82, 222, 0.5); /* Синий - тот же самый цвет но в rgba с непрозрачностью 50% */
  --white-rgba-05: rgba(255, 255, 255, 0.5); /* Белый - в rgba с непрозрачностью 50% */

  /* Параметры для адаптива */ 
  --maket-w-max: 1200;
  --maket-w-min: 375;
  --maket-w-min-px: calc(var(--maket-w-min) * 1px);

  --maket-w-val: calc(var(--maket-w-max) - var(--maket-w-min));
  --maket-w-val-px: calc(var(--maket-w-val) * 1px);
  --disp-w-val: calc(100vw - var(--maket-w-min-px));

  --p1: calc(var(--maket-w-val-px) - var(--disp-w-val));


}

html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
} 

body,
h1, h2, h3, h4, h5, h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  /* max-width: 100%; */
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  border: none;
  padding: 0;
  background-color: transparent;
}

address {
  font-style: normal;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 29px;
  font-style: normal;
  font-weight: normal;
  color: var(--grey-t);
  background-color: var(--white-bg);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img-hover {
  display: block;
  position: relative;
}

.img-hover:focus {
  outline: transparent;
}

.img-hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: background-color var(--a-time), background-size var(--a-time), box-shadow var(--a-time);
}

.img-hover:focus::before {
  box-shadow: 0 0 0 3px var(--blue-rgba-05);
}

.img-hover:hover::before {
  background-color: rgba(var(--black-rgba) 0.6);
}

.img-hover:active::before {
  background-color: rgba(var(--black-rgba) 0.45);
}

.state-effect {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: color var(--a-time), text-decoration-color var(--a-time), box-shadow var(--a-time), opacity var(--a-time);   
}

.state-effect:focus {
  outline: transparent;
  border-radius: 3px;
  box-shadow: 0 0 0 2px var(--white-rgba-05);
}

.state-effect:hover {
  text-decoration-color: inherit;
}

.state-effect:active {
  text-decoration-color: transparent;
  opacity: 0.7;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container--portfolio {
  max-width: 1215px;
  padding: 0;
}

.header {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: var(--header-p-top) 0 var(--header-p-bottom);
  z-index: 0;
  font-weight: 600;
  line-height: 23px;
  color: var(--white-t);
}

.header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--blue-rgba-05);
  top: 0;
  z-index: -1;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  transition: opacity var(--a-time), box-shadow var(--a-time);
  z-index: 10;
}

.logo:focus {
  outline: transparent;
  box-shadow: 0 0 0 3px var(--blue-bg);
}

.logo:hover {
  opacity: 0.7;
}

.logo:active {
  opacity: 0.5;
}

.logo__img {
  width: 159px;
}

.menu {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 35px;
}

.burger {
  display: none;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 30px;
  height: 22px;
  cursor: pointer;
}

.burger::before, 
.burger::after {
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--white-bg);  
  transition: transform var(--a-time), top var(--a-time), bottom var(--a-time);
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger--active::before {
  top: 45%;
  transform: rotate(-45deg);
}

.burger--active::after {
  bottom: 45%;
  transform: rotate(45deg);
}

.burger--active .burger__line {
  opacity: 0;
}

.burger__line {
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--white-bg);
  transition: opacity var(--a-time);
}

.header__content {
  display: flex;
  position: relative;
  flex-direction: column;
  height: calc(100vh - var(--header-p-top) - var(--header-p-top) - var(--logo-h));
}

.header__text {
  font-size: 48px;
  font-weight: 400;
  margin: auto 0;
  line-height: 62px;
  max-width: 600px;
}

.header__profession {
  display: block;
  font-size: 90px;
  font-weight: 700;
  line-height: 117px;
}

.header__link {
  display: flex;
  position: relative;
  align-self: center;
  justify-content: center;
}

.header__link::after {
  content: '';
  position: absolute;
  width: 37px;
  height: 23px;
  top: 33px;
  background-image: url('../images/arrow-down.svg');
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity var(--a-time);
}

.title {
  display: inline-flex;
  position: relative;
  font-size: 48px;
  line-height: 62px;
  font-weight: 700;
  margin-bottom: 60px;
  z-index: 1;
}

.title::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 100%;
  background-color: rgba(35, 82, 222, 0.1);
  bottom: 4px;
  z-index: -1;
}

.padding {
  padding: var(--section-p-t) 0;
}

.about {
  background-color: var(--white-bg);
}

.about__text {
  text-align: start;
}

.about__text p:not(:last-child) {
  margin-bottom: 24px;
}

.skills {
  background-color: var(--grey-lite-bg);  
}

.skills__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills__photo {
  max-width: 415px;
  margin-right: 90px;
}

.diagramm {
  width: 100%;
}

.diagramm__item:not(:last-child) {
  margin-bottom: 86px;

}

.diagramm__item {
  display: flex;
  position: relative;
  line-height: 18px;
  font-weight: bold;
  width: 100%;
}

.diagramm__label {
  display: flex;
  align-items: center;
  width: 70px;
  height: 32px;
  text-transform: uppercase;
}

.diagramm__bg {
  display: flex;
  width: 100%;
  background-color: #dbdbeb;
}

.diagramm__percent {
  height: 100%;
  background-color: var(--blue-bg);
}

.services {
  background-color: var(--white-bg);
}

.services__list {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.services__item {
  position: relative;
  width: 100%;
  max-width: 330px;
  min-width: 290px;
  padding-top: 90px;
}

.services__item:not(:last-child) {
  margin-right: 20px;
}

.services__item::before {
  content: '';
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
}

.services__item--icon-markup::before {
  background-image: url('../images/code.svg');
}

.services__item--icon-cms::before {
  background-image: url('../images/settings.svg');
}

.services__item--icon-support::before {
  background-image: url('../images/chat.svg');
}

.services__title {
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 25px;
}

.services__text {
  font-size: 16px;
  line-height: 26px;
}

.portfolio {
  text-align: center;
  padding-bottom: 140px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 37px;
}

.filter__item:not(:last-child) {
  margin-right: 35px;
}

.filter__btn {
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
}

.filter__btn:focus {
  box-shadow: 0 0 0 2px var(--blue-rgba-05);
}

.filter__btn:hover,
.filter__btn:active,
.mixitup-control-active {
  color: var(--blue-t);
}

.portfolio__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 37px;
}

.portfolio__item {
  flex: 1 1 260px;
  max-width: 360px;
  margin: 22px;
}

.portfolio__img {
  width: 100%;
  max-width: 360px;
  min-width: 165px;
}

.btn {
  display: inline-flex;
  font-weight: 600;
  line-height: 23px;
  padding: 12px 24px;
  background-color: var(--blue-bg);
  border: 1px solid var(--blue-bg);
  color: var(--white-t);
  transition: color var(--a-time), box-shadow var(--a-time), background-color var(--a-time);
}

.btn:focus {
  outline: transparent;
  box-shadow: 0 0 0 3px var(--blue-rgba-05);
}

.btn:hover {
  background-color: var(--white-bg);
  color: var(--blue-t);
}

.btn:active {
  box-shadow: inset 0 7px 4px rgba(var(--black-rgba) 0.25);
  background-color: var(--blue-bg);
  color: var(--white-t);
}

.reviews {
  text-align: center;
  background-color: var(--grey-lite-bg);
}

.reviews__item {
  position: relative;
}

.reviews__slide {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 3px 50px 0;
  margin-bottom: 60px;
}

.reviews__text {
  font-size: 24px;
  line-height: 31px;
  font-weight: 300;
  font-style: italic;
  max-width: 400px;
}

.reviews__photo {
  margin: 0 auto 20px;
  width: 100%;
  height: 100%;
  max-width: 130px;
  max-height: 130px;
  border-radius: 50%;
}

.reviews__name {
  display: block;
  font-weight: 600;
  font-style: normal;
  color: var(--blue-t);
  margin-bottom: 20px;
}

.video {
  display: block;
  position: relative;
  height: 400px;
  max-width: 570px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.video::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--black-rgba) 0.3);
  background-image: url('../images/play.svg');
  background-repeat: no-repeat;
  background-size: 85px;
  background-position: center;
  top: 0;
  left: 0;
}

.video:focus {
  outline: transparent;
}

.video:hover::before {
  background-size: 128px;
}

.video:active::before {
  background-size: 51px;
}

.slick-dots {
  display: flex;
  list-style: none;
  justify-content: center;
}

.slick-dots li:not(:last-child) {
  margin-right: 20px;
}

.slick-dots button {
  border: none;
  font-size: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid transparent;
  background-color: var(--blue-bg);
  transition: background-color var(--a-time), border var(--a-time);
}

.slick-active button {
  border: 2px solid var(--blue-bg);
  background-color: transparent;
}

.statistics {
  display: flex;
  justify-content: space-between;
}

.statistics__item {
  position: relative;
  width: 280px;
  padding: 150px 0 50px;
  text-align: center;
  background-color: var(--grey-lite-bg);
  border: 1px solid #dbdbed;
  opacity: 0;
  transition: opacity var(--a-time);
}

.statistics__item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  top: 50px;
  left: 0;
}

.statistics__item--visible {
  opacity: 1;
}

.statistics__item--icon-works::before {
  background-image: url('../images/works.svg');
}

.statistics__item--icon-clients::before {
  background-image: url('../images/clients.svg');
}

.statistics__item--icon-coffee::before {
  background-image: url('../images/coffee.svg');
}

.statistics__item--icon-reviews::before {
  background-image: url('../images/review.svg');
}

.statistics__name {
  display: block;
  line-height: 23px;
  margin-bottom: 20px;
}

.statistics__count {
  font-weight: 600;
  font-size: 44px;
  line-height: 44px;
}

.contacts {
  padding-bottom: 140px;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
}

.contacts__info {
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  margin-right: 100px;
}

.contacts__info p{
  margin-bottom: 30px;
}

.contacts__item {
  margin-bottom: 10px;
}

.contacts__item:last-child {
  margin-bottom: 17px;
}

.contacts__link {
  font-size: 16px;
  line-height: 21px;
  color: var(--blue-t);
}

.contacts__link:focus {
  box-shadow: 0 0 0 2px var(--blue-rgba-05);
}

.social {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social__link {
  display: block;
  width: 44px;
  height: 44px;
  transition: box-shadow var(--a-time), opacity var(--a-time);
}

.social__link:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--blue-rgba-05);
  border-radius: 3px;
}

.social__link:hover {
  opacity: 0.7;
}

.social__link--instagram:active {
  box-shadow: 3px 3px 15px rgba(var(--black-rgba) 0.15);
  border-radius: 13px;
}

.social__link--facebook:active {
  box-shadow: 3px 3px 15px rgba(var(--black-rgba) 0.15);
  border-radius: 6px;
}

.social__link--telegram:active {
box-shadow: 3px 3px 15px rgba(var(--black-rgba) 0.15);
}

.form {
  width: 100%;  
  max-width: 540px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.form__label--width {
  width: 100%;
}

.form__field {
  border: none;
  background-color: var(--grey-lite-bg);
  font-size: 14px;
  line-height: 18px;
  color: #9c9cab;
  margin: 10px 0 30px auto;
  padding: 13px 15px;
  transition: box-shadow var(--a-time); 
  width: 255px;
}

.form__field::placeholder {
  font-size: 14px;
  line-height: 18px;
  color: #9c9cab;
  transition: color var(--a-time);
}

.form__field:focus {
  outline: transparent;
  box-shadow: 0 0 0 3px var(--blue-rgba-05);
}

.form__field:hover::placeholder {
  color: var(--black-t);
} 

.form__field--textarea {
  resize: vertical;
  width: 100%;
  height: 115px;
  max-height: 250px;
  min-height: 115px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #343740;
  padding: 50px 0;
}

/**************1200*************/
@media (max-width: 1200px) {

  .header__text {
    --value: calc(var(--max-val) * 1px - (var(--p1) * (var(--max-val) - var(--min-val)) / var(--maket-w-val))); 
    --max-val: 48;
    --min-val: 28;
    font-size: var(--value);
    line-height: 130%;
  }

  .header__profession {
    --value: calc(var(--max-val) * 1px - (var(--p1) * (var(--max-val) - var(--min-val)) / var(--maket-w-val))); 
    --max-val: 90;
    --min-val: 40;
    font-size: var(--value);
    line-height: 130%;
  }

  .padding {
    --value: calc(var(--max-val) * 1px - (var(--p1) * (var(--max-val) - var(--min-val)) / var(--maket-w-val))); 
    --max-val: 140;
    --min-val: 50;
    --section-p-t: var(--value);
  }

  .title {
    --value: calc(var(--max-val) * 1px - (var(--p1) * (var(--max-val) - var(--min-val)) / var(--maket-w-val))); 
    --max-val: 60;
    --min-val: 30;
    margin-bottom: var(--value);
  }

  .skills__photo {
    margin-right: 7.5%;
  }

  .portfolio__item {
    margin: 1.8%;
  }

}

/**************920**************/
@media (max-width: 960px) {

  .services__list {
    flex-direction: column;
  }

  .services__item {
    max-width: 100%;
    text-align: start;
    margin-bottom: 30px;
  } 

  .services__title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 15px;
  }
}

/**************874**************/
@media (max-width: 874px) {

  .burger {
    display: flex;
    z-index: 10;
  }

  .menu {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    background-color: #7792e0;
    font-size: 18px;
    line-height: 23px;
    width: 100%;
    height: 100vh;
    top: -150%;
    left: 0;
    padding: 70px 0 0 0;
    z-index: 1;
    transition: top var(--a-time);
  }

  .menu__item:not(:last-child) {
    margin-right: 0;
  }

  .menu__item {
    width: 100%;
    text-align: center;
  }

  .menu__link {
    display: block;
    padding: 11px 0;
    width: 100%;
    text-decoration: none;
    transition: background-color var(--a-time);
  }

  .menu__link:focus {
    outline: transparent;
    box-shadow: none;
    background-color: rgba(35, 82, 222, 0.1);
  }

  .menu__link:hover {
    background-color: rgba(35, 82, 222, 0.1);
  }

  .menu__link:active {
    opacity: 1;
    background-color: rgba(35, 82, 222, 0.7);
  }

  .logo__img {
    width: 110px;
  }

  .header {
    --header-p-top: 15px;     /* Поле вверху хедера */
    --header-p-bottom: 15px;  /* Поле внизу хедера */
  }

  .header__content {
    height: calc(100vh - 67px);
  }

  .skills__inner {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 22px;
  }

  .skills__photo {
    width: 100%;
    max-width: 415px;
    margin: 0 auto 30px;
  }

  .diagramm {
    max-width: 415px;
  }

  .diagramm__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    width: 100%;
  }

  .diagramm__item:not(:last-child) {
    margin-bottom: 24px;
  }

  .diagramm__label {
    display: inline-flexbox;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-bottom: 5px;
  }

  .diagramm__bg {
    height: 32px;
  }
}

/**************768**************/
@media (max-width: 768px) {

}

/**************576**************/
@media (max-width: 576px) {

  body {
    font-size: 16px;
    line-height: 26px;
  }


  .header__text {
    font-size: 28px;
    line-height: 36px;
    max-width: 100%;
    text-align: start;
  }

  .header__profession {
    font-size: 40px;
    line-height: 52px;
  }

  .header__link {
    font-size: 14px;
    line-height: 19px;
  }

  .container {
    text-align: center;
  }

  .container--portfolio {
    padding: 0 7px;
  }

  .about__text p:not(:last-child) {
    margin-bottom: 15px;
  }

  .portfolio__item {
    flex: 1 1 165px;
    margin: 7px;
  }

  .padding {
    padding: 50px 0;
  }

  .title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .title::before {
    height: 10px;
  }

  .services__item {
    padding-top: 50px;
  } 

  .services__title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 15px;
  }
  
  .services__item--icon-cms::before,
  .services__item--icon-markup::before,
  .services__item--icon-support::before {
    height: 40px;
    width: 40px;
  }

  .filter {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 37px;
  }

  .filter__item:not(:last-child) {
    margin-right: 0px;
  }

  .filter__btn {
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
  }

  .reviews__slide {
    padding: 0 22px;
    justify-content: center;
  }

  .reviews__photo {
    margin: 0 auto 30px;
  }

  .reviews__text {
    font-size: 16px;
    line-height: 21px;
    max-width: 100%;
  }

  .reviews__name {
    font-size: 20px;
    line-height: 26px;
  }

  .video {
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    /*transform: scale(0.1);*/
    top: 90px;
    left: 50%;
    transform: translate(42%, 0);
  }

  .video::before {
    border-radius: 50%;
    background-size: 17px;
  }

  .video:hover::before {
    background-size: 20px;
  }
}
