@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/OpenSans-Italic.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/OpenSans-SemiBold.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/OpenSans-Light.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/OpenSans-Bold.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/OpenSans-Regular.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/*
  ПЕРЕМЕННЫЕ - Глобальные переменные. 
  Значения некоторых глобальных переменных,
  перебьем значениями локальных переменных
  в брейкпоинтах. 
*/ 
:root {
  /* БРЕЙКПОИНТЫ */
  --1200px: 1200px; /* Как оказалось переменные в медиазапросах не работают, а в критерии R-7 говорится, что значения брейкпоинтов должны быть вынесены в переменные и еще пример показан. Странно.*/

  /* ВРЕМЯ АНИМАЦИИ */
  --a-time: 400ms;

  /* ОСНОВНЫЕ ЦВЕТА */
  --black-t: #000000;       /* Черный - для текста, используется в форме*/
  --white-bg: #ffffff;      /* Белый - для фона */
  --white-t: #ffffff;       /* Белый - для текста */
  --gray-lite-bg: #f6f6f8;  /* Светло-серый - для фона секций */ 
  --gray-t: #333333;        /* Темно-серый - для основного текста */ 
  --blue-t: #2352de;        /* Синий - фирменный, очень часто встречается. Текст */
  --blue-bg: #2352de;       /* Синий - для декоративных элементов дизайна */
  --black-rgba:  0, 0, 0,;    /* Черный - для rgba, непрозрачность укажем по месту*/
  --blue-rgba-05: rgba(35, 82, 222, 0.5); /* Синий - тот же самый цвет но в rgba с непрозрачностью 50% */
  --white-rgba-05: rgba(255, 255, 255, 0.5); /* Белый - в rgba с непрозрачностью 50% */

  /* ПАРАМЕТРЫ ДЛЯ АДАПТИВНОЙ ВЕРСТКИ */
  /* Размеры которые потом будем менять и вычислять для адаптива */
  --header-p-top: 75px;     /* Поле вверху хедера */
  --header-p-bottom: 30px;  /* Поле внизу хедера */
  --section-p-t: 140px;     /* Поле вверху секции */
  --section-p-b: 140px;     /* Поле внизу секции */
  --logo-h: 53px;           /* Высота логотипа */
  --logo-w: 159px;          /* Ширина логотипа */

  /* Максимальная ширина макета, ниже которой, будем адаптировать верстку*/ 
  --maket-w-max: 1200;
  /* Минимальная ширина макета, ниже которой, значения уже не будем менять*/
  --maket-w-min: 375;   

  /*  Часть расчетов доступна в глобальной части, т.е. тут.
      Другая часть применяется локально, в медиазапросах,
      используя расчеты из глобальной области.
  */
  /*  Попробую объяснить свою логику, и действия. Потратил 
      один вечер на то, чтобы придумать, как, хоть часть верстки
      подвергнуть автоматизированной адаптации под все экраны используя 
      данные из макета и информацию из критериев верстки.

      Например ОТСТУПЫ: в макете отступы в верхней и нижней частях секций
                        по 140px для ширины макета 1200px, а для ширины 
                        макета 375px, отступы должны быть 50px. В критериях
                        (R-3) говорится: "Крупные отступы(margin) и 
                        поля(padding) выглядят пропорционально на разных 
                        устройствах." Поскольку устройств безграничное 
                        количество, я решил попробовать свой метод.

      И ТАК по отступам (как пример), нам нужны следующие значения:
        140px   - максимальный отступ
        50px    - минимальный отступ
        1200px  - максимальная ширина макета
        375px   - минимальная ширина макета
        100vw   - текущая ширина экрана
      Далее придумал следующую формулу:

      'значение' = 140-((1200-375)-(100vw-375)*(140-50)/(1200-375))

      Таким образом, применяя в медиазапросах эту формулу мы не выйдем
      за пределы указанных в макете значений, и таким способом можно адаптивить все!
      Конечно формула не идеальная, наверняка можно как то придумать покороче, 
      но я не математик. 
  */
  --maket-w-val: calc(var(--maket-w-max) - var(--maket-w-min));
  --disp-w-val: calc(((100vw + 100vh) / 2) - var(--maket-w-min) * 1px);
  --p1: calc(var(--maket-w-val) * 1px - var(--disp-w-val));
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
} 

body,
h1, 
h2, 
h3, 
h4, 
h5, 
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  border: none;
  padding: 0;
  background-color: transparent;
}

address {
  font-style: normal;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  font-style: normal;
  font-weight: normal;
  color: var(--gray-t);
  background-color: var(--white-bg);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img-hover {
  display: block;
  position: relative;
}

.img-hover:focus {
  outline: transparent;
}

.img-hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: background-color var(--a-time), background-size var(--a-time), box-shadow var(--a-time);
}

.img-hover:focus::before {
  box-shadow: 0 0 0 3px var(--blue-rgba-05);
}

.img-hover:hover::before {
  background-color: rgba(var(--black-rgba) 0.6);
}

.img-hover:active::before {
  background-color: rgba(var(--black-rgba) 0.45);
}

.link-style {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: color var(--a-time), text-decoration-color var(--a-time), box-shadow var(--a-time), opacity var(--a-time);   
}

.link-style:focus {
  outline: transparent;
  border-radius: 3px;
  box-shadow: 0 0 0 2px var(--white-rgba-05);
}

.link-style:hover {
  text-decoration-color: inherit;
}

.link-style:active {
  text-decoration-color: transparent;
  opacity: 0.7;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container--portfolio {
  max-width: 1215px;
  padding: 0;
}

.container--statistics {
  max-width: 1215px;
  padding: 0 15px;
}

.header {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: var(--header-p-top) 0 var(--header-p-bottom);
  z-index: 99;
  font-weight: 600;
  line-height: 1.3;
  color: var(--white-t);
}

.header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--blue-rgba-05);
  top: 0;
  z-index: -1;
}

.header__top {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 75px 0 0 0;
  z-index: 2;
  background-color: transparent;
  transition: background-color, padding;
  transition-duration: var(--a-time);
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.34, 0.9);
}

.header__top--fixed {
  padding: 5px 0;
  background-color: rgba(119, 146, 224, 0.8);
  backdrop-filter: blur(20px);

}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: var(--logo-w);
  transition: opacity var(--a-time), box-shadow var(--a-time);
  z-index: 10;
}

.logo:focus {
  outline: transparent;
  box-shadow: 0 0 0 3px var(--blue-bg);
}

.logo:hover {
  opacity: 0.7;
}

.logo:active {
  opacity: 0.5;
}

.menu {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 35px;
}

.burger {
  display: none;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding: 21px 10px;
  margin-right: -10px;
}

.burger::before, 
.burger::after {
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  width: 30px;
  background-color: var(--white-bg);  
  transition: transform var(--a-time), top var(--a-time), bottom var(--a-time);
}

.burger::before {
  top: 11px;
}

.burger::after {
  bottom: 11px;
}

.burger--active::before {
  top: 21px;
  transform: rotate(-45deg);
}

.burger--active::after {
  bottom: 21px;
  transform: rotate(45deg);
}

.burger--active 
.burger__line {
  opacity: 0;
}

.burger__line {
  display: block;
  height: 2px;
  width: 30px;
  background-color: var(--white-bg);
  transition: opacity var(--a-time);
}

.header__content {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: start;
  height: calc(100vh - var(--header-p-top) - var(--header-p-bottom));
}

.header__text {
  font-size: 48px;
  font-weight: 400;
  margin: auto 0;
  max-width: 600px;
}

.header__profession {
  display: block;
  font-size: 90px;
  font-weight: 700;
}

.header__link {
  display: flex;
  position: relative;
  align-self: center;
  justify-content: center;
  padding-bottom: 33px;
}

.header__link::after {
  content: '';
  position: absolute;
  width: 37px;
  height: 23px;
  top: 33px;
  background-image: url('../images/arrow-down.svg');
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity var(--a-time);
}

.title {
  display: inline-flex;
  position: relative;
  font-size: 48px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 60px;
  z-index: 1;
}

.title::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 100%;
  background-color: rgba(35, 82, 222, 0.1);
  bottom: 4px;
  z-index: -1;
}

.paddings {
  padding: var(--section-p-t) 0;
}

.padding-b {
  padding-bottom: var(--section-p-b);
}

.about__text {
  text-align: start;
}

.about__text p:not(:last-child) {
  margin-bottom: 24px;
}

.skills {
  background-color: var(--gray-lite-bg);  
}

.skills__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills__photo {
  max-width: 415px;
  margin-right: 90px;
}

.diagramm {
  width: 100%;
}

.diagramm__item:not(:last-child) {
  margin-bottom: 86px;

}

.diagramm__item {
  display: flex;
  line-height: 1;
  font-weight: 600;
  width: 100%;
}

.diagramm__label {
  display: flex;
  align-items: center;
  width: 70px;
  height: 32px;
  text-transform: uppercase;
}

.diagramm__bg {
  display: flex;
  width: 100%;
  background-color: #dbdbeb;
}

.diagramm__percent {
  height: 100%;
  background-color: var(--blue-bg);
}

.services__list {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.services__item {
  position: relative;
  width: 100%;
  max-width: 330px;
  min-width: 290px;
  padding-top: 90px;
}

.services__item:not(:last-child) {
  margin-right: 20px;
}

.services__item::before {
  content: '';
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
}

.services__item--icon-markup::before {
  background-image: url('../images/code.svg');
}

.services__item--icon-cms::before {
  background-image: url('../images/settings.svg');
}

.services__item--icon-support::before {
  background-image: url('../images/chat.svg');
}

.services__title {
  font-size: 28px;
  line-height: 1.3;
  font-weight: 600;
  margin-bottom: 25px;
}

.services__text {
  font-size: 16px;
}

.portfolio {
  text-align: center;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 37px;
}

.filter__item:not(:last-child) {
  margin-right: 35px;
}

.filter__btn {
  font-weight: 600;
  font-size: 24px;
}

.filter__btn:focus {
  box-shadow: 0 0 0 2px var(--blue-rgba-05);
}

.filter__btn:hover,
.filter__btn:active,
.mixitup-control-active {
  color: var(--blue-t);
}

.portfolio__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 37px;
}

.portfolio__item {
  flex: 1 1 260px;
  max-width: 360px;
  margin: 22px;
}

.portfolio__img {
  width: 100%;
  max-width: 360px;
  min-width: 165px;
}

.btn {
  display: inline-flex;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  padding: 12px 24px;
  background-color: var(--blue-bg);
  border: 1px solid var(--blue-bg);
  color: var(--white-t);
  transition: color var(--a-time), box-shadow var(--a-time), background-color var(--a-time);
}

.btn:focus {
  outline: transparent;
  box-shadow: 0 0 0 3px var(--blue-rgba-05);
}

.btn:hover {
  background-color: var(--white-bg);
  color: var(--blue-t);
}

.btn:active {
  box-shadow: inset 0 7px 4px rgba(var(--black-rgba) 0.25);
  background-color: var(--blue-bg);
  color: var(--white-t);
}

.reviews {
  text-align: center;
  background-color: var(--gray-lite-bg);
}

.reviews__item {
  position: relative;
}

.reviews__slide {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 3px 50px 0;
  margin-bottom: 60px;
}

.reviews__text {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 300;
  font-style: italic;
  max-width: 400px;
}

.reviews__photo {
  margin: 0 auto 20px;
  width: 100%;
  height: 100%;
  max-width: 130px;
  max-height: 130px;
  border-radius: 50%;
}

.reviews__name {
  display: block;
  font-weight: 600;
  font-style: normal;
  color: var(--blue-t);
  margin-bottom: 20px;
}

.video {
  display: block;
  position: relative;
  height: 400px;
  max-width: 570px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.video::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--black-rgba) 0.3);
  background-image: url('../images/play.svg');
  background-repeat: no-repeat;
  background-size: 85px;
  background-position: center;
  top: 0;
  left: 0;
}

.video:focus {
  outline: transparent;
}

.video:hover::before {
  background-size: 128px;
}

.video:active::before {
  background-size: 51px;
}

.slick-dots {
  display: flex;
  list-style: none;
  justify-content: center;
}

.slick-dots li:not(:last-child) {
  margin-right: 20px;
}

.slick-dots button {
  border: none;
  font-size: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid transparent;
  background-color: var(--blue-bg);
  transition: background-color var(--a-time), border var(--a-time);
}

.slick-active button {
  border: 2px solid var(--blue-bg);
  background-color: transparent;
}

.statistics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.statistics__item {
  flex: 1 1 265px;
  position: relative;
  width: 280px;
  padding: 150px 0px 50px;
  margin: 7px;
  text-align: center;
  background-color: var(--gray-lite-bg);
  border: 1px solid #dbdbed;
  opacity: 0;
  transition: opacity var(--a-time);
}

.statistics__item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  top: 50px;
  left: 0;
}

.statistics__item--visible {
  opacity: 1;
}

.statistics__item--icon-works::before {
  background-image: url('../images/works.svg');
}

.statistics__item--icon-clients::before {
  background-image: url('../images/clients.svg');
}

.statistics__item--icon-coffee::before {
  background-image: url('../images/coffee.svg');
}

.statistics__item--icon-reviews::before {
  background-image: url('../images/review.svg');
}

.statistics__name {
  display: block;
  line-height: 1.3;
  margin-bottom: 20px;
}

.statistics__count {
  font-weight: 600;
  font-size: 44px;
  line-height: 1;
}

.contacts__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: start;
}

.contacts__info {
  flex: 1 1 300px;
  width: 100%;
  max-width: 540px;
  font-size: 16px;
  margin-right: 100px;
  margin-bottom: 32px;
}

.contacts__info p {
  margin-bottom: 30px;
}

.contacts__item {
  margin-bottom: 10px;
}

.contacts__item:last-child {
  margin-bottom: 17px;
}

.contacts__link {
  font-size: 16px;
  line-height: 1.3;
  color: var(--blue-t);
}

.contacts__link:focus {
  box-shadow: 0 0 0 2px var(--blue-rgba-05);
}

.social {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social__link {
  display: block;
  width: 44px;
  height: 44px;
  transition: box-shadow var(--a-time), opacity var(--a-time);
}

.social__link:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--blue-rgba-05);
  border-radius: 3px;
}

.social__link:hover {
  opacity: 0.7;
}

.social__link--instagram:active {
  box-shadow: 3px 3px 15px rgba(var(--black-rgba) 0.15);
  border-radius: 13px;
}

.social__link--facebook:active {
  box-shadow: 3px 3px 15px rgba(var(--black-rgba) 0.15);
  border-radius: 6px;
}

.social__link--telegram:active {
  box-shadow: 3px 3px 15px rgba(var(--black-rgba) 0.15);
}

.form {
  flex: 1 1 300px;
  width: 100%;  
  max-width: 540px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.3;
}

.form__label {
  flex: 1 1 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 600;
  margin-bottom: 30px;
}

.form__label:first-child {
  margin-right: 15px;
}

.form__label--width {
  flex: 1 1 100%;
}

.form__field {
  border: none;
  background-color: var(--gray-lite-bg);
  color: #9c9cab;
  margin-top: 10px;
  padding: 13px 15px;
  transition: box-shadow var(--a-time); 
  width: 100%;
  font-weight: normal;
}

.form__field::placeholder {
  color: #9c9cab;
  transition: color var(--a-time);
}

.form__field:focus {
  outline: transparent;
  box-shadow: 0 0 0 3px var(--blue-rgba-05);
}

.form__field:hover::placeholder {
  color: var(--black-t);
} 

.form__field--textarea {
  resize: vertical;
  max-width: 100%;
  height: 115px;
  max-height: 250px;
  min-height: 115px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #343740;
  padding: 50px 0;
}

/* 1200 - WXVGA******/
@media (max-width: 1200px) {

  .header__text {
    /* Размер шрифта в header от 48px до 28px*/
    --value: calc(var(--max-val) * 1px - (var(--p1) * (var(--max-val) - var(--min-val)) / var(--maket-w-val))); 
    --max-val: 48;
    --min-val: 28;
    font-size: var(--value);
  }

  .header__profession {
    /* Размер шрифта в header от 90px до 40px*/
    --value: calc(var(--max-val) * 1px - (var(--p1) * (var(--max-val) - var(--min-val)) / var(--maket-w-val))); 
    --max-val: 90;
    --min-val: 40;
    font-size: var(--value);
  }

  .paddings {
    /* Отступы секций от 140px до 50px */
    --value: calc(var(--max-val) * 1px - (var(--p1) * (var(--max-val) - var(--min-val)) / var(--maket-w-val))); 
    --max-val: 140;
    --min-val: 50;
    --section-p-t: var(--value);
  }

  .padding-b {
    /* Нижние отступы секций от 140px до 50px */
    --value: calc(var(--max-val) * 1px - (var(--p1) * (var(--max-val) - var(--min-val)) / var(--maket-w-val))); 
    --max-val: 140;
    --min-val: 50;
    --section-p-b: var(--value);
  }

  .title {
    /* Размер шрифта в заголовках секций от 60px до 30px*/
    --value: calc(var(--max-val) * 1px - (var(--p1) * (var(--max-val) - var(--min-val)) / var(--maket-w-val))); 
    --max-val: 60;
    --min-val: 30;
    margin-bottom: var(--value);
  }

  .skills__photo {
    /* Отступ от фотографии до диаграммы от 90px до 10px*/
    --value: calc(var(--max-val) * 1px - (var(--p1) * (var(--max-val) - var(--min-val)) / var(--maket-w-val))); 
    --max-val: 90;
    --min-val: 10;
    margin-right: var(--value);
  }

  .portfolio__item {
    /* Отступ между элементами в портфолио от 22px до 7px*/
    --value: calc(var(--max-val) * 1px - (var(--p1) * (var(--max-val) - var(--min-val)) / var(--maket-w-val))); 
    --max-val: 22;
    --min-val: 7;
    margin: var(--value);
  }

}

/* 992 - qHD*********/
@media (max-width: 992px) {

  .menu__link {
    display: flex;
    align-items: center;
    height: 44px;
  }

  .services__list {
    flex-wrap: wrap;
  }

  .services__item {
    /* ШПАРГАЛКА ДЛЯ СЕБЯ Жадность элементов flex: 1 1 auto;
    flex-grow: 1; - равномерно делим пространство, 
    flex-shrink: 1; - равномерно сжимаем элементы 
    flex-basis: ; - в данном случае не учавствует*/
    flex: 1 1; 
    max-width: 100%;
    text-align: start;
    margin-bottom: 30px;
  } 

  .services__title {
    margin-bottom: 20px;
  }
  
  .reviews__slide {
    padding: 0 22px;
    justify-content: center;
  }

  .reviews__photo {
    margin: 0 auto 30px;
  }
  
  .video {
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    top: 90px;
    left: 50%;
    transform: translate(42%, 0);
  }

  .video::before {
    border-radius: 50%;
    background-size: 17px;
  }

  .video:hover::before {
    background-size: 20px;
  }
}

/* 874**************/
@media (max-width: 874px) {
  /* Присвоим новые значения глобальным переменным */
  :root {
    --logo-h: 36px;           /* Ширина лого */
    --logo-w: 110px;          /* Высота лого */ 
    --header-p-top: 15px;     /* Поле вверху хедера */
    --header-p-bottom: 15px;  /* Поле внизу хедера */
  }

  .container {
    text-align: center;
    overflow-x: hidden;
  }

  .container--statistics {
    padding: 0 7px;
  }

  .burger {
    display: flex;
    z-index: 10;
  }

  .header__top {
    padding: 10px 0;
  }

  .header__top--fixed {
    padding: 0;
  }

  .menu {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    background-color: #7792e0;
    font-size: 18px;
    width: 100%;
    min-height: 100vh;
    top: -200vh;
    left: 0;
    padding: 70px 0 0 0;
    z-index: 1;
    transition: top;
    transition-duration: 600ms;
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.34, 0.9);
    transition-delay: 0s;
  }

  .menu__item:not(:last-child) {
    margin-right: 0;
  }

  .menu__item {
    width: 100%;
    text-align: center;
  }

  .menu__link {
    display: block;
    padding: 11px 0;
    width: 100%;
    text-decoration: none;
    transition: background-color var(--a-time);
  }

  .menu__link:focus {
    outline: transparent;
    box-shadow: none;
    background-color: rgba(35, 82, 222, 0.1);
  }

  .menu__link:hover {
    background-color: rgba(35, 82, 222, 0.1);
  }

  .menu__link:active {
    opacity: 1;
    background-color: rgba(35, 82, 222, 0.7);
  }

  .header__link::after {
    top: 27px;
  }

  .skills__inner {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 22px;
  }

  .skills__photo {
    width: 100%;
    max-width: 415px;
    margin: 0 auto 30px;
  }

  .diagramm {
    max-width: 415px;
  }

  .diagramm__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
  }

  .diagramm__item:not(:last-child) {
    margin-bottom: 24px;
  }

  .diagramm__label {
    display: inline-flexbox;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-bottom: 5px;
  }

  .diagramm__bg {
    height: 32px;
  }

  .filter {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 37px;
  }

  .filter__item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 15px;
  }

  .filter__btn {
    width: 100%;
    height: 44px;
  }

  .statistics__item {
    flex: 1 1 260px;
    position: relative;
    max-width: 100%;
  }

  .contacts__info {
    margin-right: 20px;
    max-width: 100%;
  }

  .form {
    max-width: 100%;
  }

  .footer {
    padding: 32px 0;
  }
}

/* 576**************/
@media (max-width: 576px) {

  body {
    font-size: 16px;
  }

  .header__text {
    font-size: 28px;
    max-width: 100%;
    text-align: start;
  }

  .header__profession {
    font-size: 40px;
  }

  .header__link {
    font-size: 14px;
  }

  .container {
    text-align: center;
  }

  .container--portfolio {
    padding: 0 7px;
  }

  .about__text p:not(:last-child) {
    margin-bottom: 15px;
  }

  .portfolio__item {
    flex: 1 1 160px;
    margin: 7px;
  }

  .padding {
    padding: 50px 0;
  }

  .title {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .title::before {
    height: 10px;
  }

  .services__item {
    min-width: 100%;
    padding-top: 50px;
  } 

  .services__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .services__item--icon-cms::before,
  .services__item--icon-markup::before,
  .services__item--icon-support::before {
    height: 40px;
    width: 40px;
  }

  .filter__btn {
    font-size: 18px;
    height: 30px;
  }

  .reviews__text {
    font-size: 16px;
    max-width: 100%;
  }

  .reviews__name {
    font-size: 20px;
  }

  .statistics__item {
    display: flex;
    flex-direction: column;
    flex: 1 1 160px;
    max-width: 100%;
    padding: 70px 15px 22px;
    justify-content: space-between;
  }

  .statistics__item::before {
    content: '';
    position: absolute;
    height: 35px;
    top: 25px;
    background-size: contain;
  }

  .statistics__name {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .statistics__count {
    font-size: 30px;
  }

  .contacts__item:last-child {
    margin-bottom: 28px;
  }

  .form__label {
    flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }

  .form__label:first-child {
    margin-right: 0;
    max-width: 100%;
  }
}
