@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/OpenSans-Italic.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/OpenSans-SemiBold.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/OpenSans-Light.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/OpenSans-Bold.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/OpenSans-Regular.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
} 

body,
h1, h2, h3, h4, h5, h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  border: none;
  padding: 0;
  background-color: transparent;
}

address {
  font-style: normal;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 29px;
  font-style: normal;
  font-weight: normal;
  color: #333;
  background-color: #fff;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img-hover {
  display: block;
  position: relative;
}

.img-hover:focus {
  outline: transparent;
}

.img-hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: background-color 400ms, background-size 400ms, box-shadow 400ms;
}

.img-hover:focus::before {
  box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

.img-hover:hover::before {
  background-color: rgba(0, 0, 0, 0.6);
}

.img-hover:active::before {
  background-color: rgba(0, 0, 0, 0.45);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container--portfolio {
  max-width: 1215px;
  padding: 0;
}

.header {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 75px 0 30px;
  z-index: 0;
  font-weight: 600;
  line-height: 23px;
  color: #fff;
}

.header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(35, 82, 222, 0.5);
  top: 0;
  z-index: -1;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  transition: opacity 400ms, box-shadow 400ms;
}

.logo:focus {
  outline: transparent;
  box-shadow: 0 0 0 3px #2352DE;
}

.logo:hover {
  opacity: 0.7;
}

.logo:active {
  opacity: 0.5;
}

.logo__img {
  width: 1 59px;
  height: 53px;
}

.menu {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 35px;
}

.link {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: color 400ms, text-decoration-color 400ms, box-shadow 400ms, opacity 400ms;   
}

.link:focus {
  outline: transparent;
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.link:hover {
  text-decoration-color: inherit;
}

.link:active {
  text-decoration-color: transparent;
  opacity: 0.7;
}

.header__content {
  display: flex;
  position: relative;
  flex-direction: column;
  height: calc(100vh - 158px);
}

.header__text {
  font-size: 48px;
  font-weight: 400;
  margin: auto 0;
  line-height: 62px;
  max-width: 600px;
}

.header__profession {
  font-size: 90px;
  font-weight: 700;
  line-height: 117px;
}

.header__link {
  display: flex;
  position: relative;
  align-self: center;
  justify-content: center;
  padding-bottom: 33px;
}

.header__link::after {
  content: '';
  position: absolute;
  width: 37px;
  height: 23px;
  top: 33px;
  background-image: url('../images/arrow-down.svg');
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms;
}

.title {
  display: inline-flex;
  position: relative;
  font-size: 48px;
  line-height: 62px;
  font-weight: 700;
  margin-bottom: 60px;
  z-index: 1;
}

.title::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 100%;
  background-color: rgba(35, 82, 222, 0.1);
  bottom: 4px;
  z-index: -1;
}

.padding {
  padding: 140px 0;
}

.about {
  background-color: #ffffff;
}

.about__text p:not(:last-child) {
  margin-bottom: 24px;
}

.skills {
  background-color: #f6f6f8;  
}

.skills__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills__photo {
  max-width: 415px;
  margin-right: 90px;
}

.diagramm {
  width: 100%;
}

.diagramm__item:not(:last-child) {
  margin-bottom: 86px;

}

.diagramm__item {
  display: flex;
  position: relative;
  line-height: 18px;
  font-weight: bold;
  width: 100%;
  height: 32px;
}

.diagramm__label {
  display: flex;
  align-items: center;
  width: 70px;
  height: 32px;
  text-transform: uppercase;
}

.diagramm__bg {
  display: flex;
  width: 100%;
  background-color: #dbdbeb;
}

.diagramm__percent {
  height: 100%;
  background-color: #2352de;
}

.services {
  background-color: #fff;
}

.services__list {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.services__item {
  width: 100%;
  max-width: 330px;
  padding-top: 90px;
}

.services__item::before {
  content: '';
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
}

.services__item--icon-markup::before {
  background-image: url('../images/code.svg');
}

.services__item--icon-cms::before {
  background-image: url('../images/settings.svg');
}

.services__item--icon-support::before {
  background-image: url('../images/chat.svg');
}

.services__title {
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 25px;
}

.services__text {
  font-size: 16px;
  line-height: 26px;
}

.portfolio {
  text-align: center;
  padding-bottom: 140px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 37px;
}

.filter__item:not(:last-child) {
  margin-right: 35px;
}

.filter__btn {
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
}

.filter__btn:focus {
  box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
}

.filter__btn:hover,
.filter__btn:active,
.mixitup-control-active {
  color: #2352de;
}

.portfolio__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 37px;
}

.portfolio__item {
  margin: 22px;
}

.portfolio__img {
  width: 100%;
  max-width: 360px;
}

.btn {
  display: inline-flex;
  font-weight: 600;
  line-height: 23px;
  padding: 12px 24px;
  background-color: #2352de;
  border: 1px solid #2352de;
  color: #fff;
  transition: color 400ms, box-shadow 400ms, background-color 400ms;
}

.btn:focus {
  outline: transparent;
  box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

.btn:hover {
  background-color: #fff;
  color: #2352de;
}

.btn:active {
  box-shadow: inset 0 7px 4px rgba(0, 0, 0, 0.25);
  background-color: #2352de;
  color: #fff;
}

.reviews {
  text-align: center;
  background-color: #f6f6f8;
}

.reviews__slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 50px 0;
  margin-bottom: 60px;
}

.reviews__text {
  font-size: 24px;
  line-height: 31px;
  font-weight: 300;
  font-style: italic;
  max-width: 400px;
}

.reviews__photo {
  margin: 0 auto 20px;
  width: 100%;
  height: 100%;
  max-width: 130px;
  max-height: 130px;
  border-radius: 50%;
}

.reviews__name {
  display: block;
  font-weight: 600;
  font-style: normal;
  color: #2352de;
  margin-bottom: 20px;
}

.video {
  display: block;
  position: relative;
  height: 400px;
  max-width: 570px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.video::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url('../images/play.svg');
  background-repeat: no-repeat;
  background-size: 85px;
  background-position: center;
  top: 0;
  left: 0;
}

.video:focus {
  outline: transparent;
}

.video:hover::before {
  background-size: 128px;
}

.video:active::before {
  background-size: 51px;
}



.slick-dots {
  display: flex;
  list-style: none;
  justify-content: center;
}

.slick-dots li:not(:last-child) {
  margin-right: 20px;
}

.slick-dots button {
  border: none;
  font-size: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid transparent;
  background-color: #2352de;
  transition: background-color 400ms, border 400ms;
}

.slick-active button {
  border: 2px solid #2352de;
  background-color: transparent;
}

.statistics {
  display: flex;
  justify-content: space-between;
}

.statistics__item {
  position: relative;
  width: 280px;
  padding: 150px 0 50px;
  text-align: center;
  background-color: #f6f6f8;
  border: 1px solid #dbdbed;
  opacity: 0;
  transition: opacity 400ms;
}

.statistics__item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  top: 50px;
  left: 0;
}

.statistics__item--visible {
  opacity: 1;
}

.statistics__item--icon-works::before {
  background-image: url('../images/works.svg');
}

.statistics__item--icon-clients::before {
  background-image: url('../images/clients.svg');
}

.statistics__item--icon-coffee::before {
  background-image: url('../images/coffee.svg');
}

.statistics__item--icon-reviews::before {
  background-image: url('../images/review.svg');
}

.statistics__name {
  display: block;
  line-height: 23px;
  margin-bottom: 20px;
}

.statistics__count {
  font-weight: 600;
  font-size: 44px;
  line-height: 44px;
}

.contacts {
  padding-bottom: 140px;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
}

.contacts__info {
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  margin-right: 100px;
}

.contacts__info p{
  margin-bottom: 30px;
}

.contacts__item {
  margin-bottom: 10px;
}

.contacts__item:last-child {
  margin-bottom: 17px;
}

.contacts__link {
  font-size: 16px;
  line-height: 21px;
  color: #2352de;
}

.contacts__link:focus {
  box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
}

.social {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social__link {
  display: block;
  width: 44px;
  height: 44px;
  transition: box-shadow 400ms, opacity 400ms;
}

.social__link:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
  border-radius: 3px;
}

.social__link:hover {
  opacity: 0.7;
}

.social__link--instagram:active {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  border-radius: 13px;
}

.social__link--facebook:active {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

.social__link--telegram:active {
box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
}

.form {
  max-width: 540px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.form__field {
  border: none;
  background-color: #f6f6f8;
  font-size: 14px;
  line-height: 18px;
  color: #9c9cab;
  margin: 10px 0 30px auto;
  padding: 13px 15px;
  transition: box-shadow 400ms; 
}

.form__field::placeholder {
  font-size: 14px;
  line-height: 18px;
  color: #9c9cab;
  transition: color 400ms;
}

.form__field:focus {
  outline: transparent;
  box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

.form__field:hover::placeholder {
  color: #000;
} 

.form__input {
  width: 255px;
  height: 44px;
}

.form__field--textarea {
  resize: vertical;
  width: 540px;
  height: 115px;
  max-height: 250px;
  min-height: 115px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 153px;
  background-color: #343740;
}
